.App {
  font-family: sans-serif;
}

/* desktop */
@media (min-width: 900px) {
.img{
  width:120rem;
  height: 37.5;
  background-image: url('./images/content/desktop_why_snubes.png'); 
  background-size: cover;
 
}
  
}
  
/* tablet */
@media only screen and (min-width:426px) and (max-width:768px) {
 .img{ 
   width: 48rem;
  height: 38.5rem;
  background-image: url('./images/content/offers.png'); 
 }
}

/* mobile */
@media (max-width:768px){
 .img{ width: 20rem;
  height: 38.87rem;
  background-image: url('./images/content/mobile_why_snubes.png'); 
  background-size: cover;
 }
}
